// Color Scheme
$white : #FFF;
$snow : #FAFAFA;
$quick-silver : #A0A0A0;

$jelly-bean : #E56353;
$salmon : #E97F72;
$pastel-pink : #F0A9A1;

$granite-gray : #686963;
$taupe-gray : #91918D;
$gray : #BABAB8;