.section {
    //text-align: center;
    padding: 75px 0 75px 0;
}

.section_color-gray{
    background-color: $taupe-gray;
}

.section_color-jelly{
    background-color: $jelly-bean;
}

.section_img {
    width: 50%;
}

.section_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 250px 0 250px;
}



.section_txt {
    font-family: $raleway;
    font-weight: $Regular;
    padding: 0 80px 0 80px;
}

.section_txt-emphasis {
    font-weight: $bold;
}


.section_txt-size--xlarge {
    font-size: $x-large;
}

.section_txt-size--large {
    font-size: $large;
}

.section_txt-size--medium {
    font-size: $medium;
}

.section_txt-size--small {
    font-size: $small;
}

.section_txt-color--white {
    color: $white;
}

.section_txt-color--gray {
    color: $taupe-gray;
}
