//Font Family
$raleway: 'Raleway', sans-serif;

// Tipography
// Font Weight
$extra: 300;
$Regular: 400;
$bold: 700;

// Font Sizes
$xx-large: 100px;
$x-large: 70px;
$large: 50px;
$medium: 30px;
$small: 14px;
$x-small: 12px;